<div class="sidebar blog">
  <div class="sidebar-inner">
    <ul class="main-menu">
        <% if (page.type == 'book-en-us') { %>
          <%- partial('partials/main_menu_en', { context: 'nav' }) %>
        <% } else {%>
          <%- partial('partials/main_menu', { context: 'nav' }) %>
        <% } %>
    </ul>
    <div class="list">
      <ul style="padding: 0;">
      <% site.posts.sort('date', -1).limit(10).each(function (post) { %>
        <li>
          <a href="/<%- post.path %>" class="sidebar-link<%- page.title === post.title ? ' current' : '' %>"><%- post.title %></a>
        </li>
      <% }) %>
      </ul>
    </div>
  </div>
</div>
<div class="content with-sidebar post">
  <h1><%- page.title %></h1>
  <h4><%- page.date.format('MMM D[,] YYYY') %></h4>
  <%- page.content %>
</div>
